--extra-index-url https://download.pytorch.org/whl/cpu

# Core
fastapi==0.115.11
uvicorn[standard]>=0.34.0
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.2.2

# Database
sqlalchemy==2.0.25
asyncpg==0.29.0
pgvector==0.2.5

# Cache & Queue
redis==5.0.1
celery==5.6.3

# AI/ML
torch>=2.6.0
sentence-transformers==2.2.2
huggingface-hub==0.19.4
groq>=0.13.0
transformers==4.36.2

# HTTP
httpx>=0.28.1

# GitHub
pygithub==2.3.0

# Slack
slack-bolt==1.18.0


# Utils
loguru==0.7.3
numpy==1.24.3
scikit-learn==1.5.0

auth0-fastapi-api==1.0.0b3

openai>=1.50.0
pytest>=8.0.0
pytest-asyncio>=0.23.0

google-generativeai>=0.8.0
pytest-cov>=5.0.0
